body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.hop-cong-viec {
    background: #fff;
    padding: 20px;
    width: 360px;
    border: solid 1px;
}

input#nhapCongViec {
    width: calc(100% - 12px);
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
}

button#nutThem {
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    background: blue;
    color: #fff;
}

ul#danhSachCongViec {
    padding: 0;
    margin-top: 16px;
}

li.cong-viec {
    list-style: none;
    padding: 10px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
   
}

span.noi-dung {
    flex: 1;
    margin-right: 10px;
    word-break: break-word;
}

button.nut {
    margin-left: 6px;
    padding: 6px 8px;
   
}

button.nut.xoa {
    background: red;
    color: white;
}

button.nut.hoan-thanh {
    background: green;
    color: white;
}

.da-hoan-thanh {
    text-decoration: line-through;
    color: green;
    
}
