body{
    padding: 30px;
}

.form{
   width: 400px;
   margin: auto;
   background: white;
   padding: 20px;
}

input{
    width: 50%;
    padding: 10px;
    margin: 8px 0;
}
button{
    width: 52%;
    padding: 10px;
    margin: 8px 0;
    background: blue;
    color: white;
}