.tde{
    display:flex;
  gap:24px;
  align-items:center;
  flex-wrap:wrap;
}
.ing{
    width: 100%;
    height: auto;
    display: block;

}
@media ( max-width: 768px){
body{
    font-size: 10px;
}
}