body {
    font-family: Arial;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
   
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 8px;
    
}

button {
    padding: 8px 14px;
    border: none;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li {
    margin-bottom: 10px;
    padding: 8px;
    background: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btns button {
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
