body {
    font-family: Arial;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
}

h2 {
    margin-top: 40px;
}

button {
    cursor: pointer;
}
