body {
    font-family: Arial, sans-serif;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    padding: 20px 25px;
    border-radius: 10px;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.2s;
}

input:focus {
    border-color: #3498db;
    outline: none;
}

input.invalid {
    border: 2px solid #e74c3c;
    background: #ffeaea;
}

button {
    width: 105%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    
}


.error {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 4px;
}

#message {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
}
